body, html
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(70, 70, 70);
    height: 100vh;
    text-align: center;
    align-items: center;
}

.navBar
{
    background-color: rgb(0, 0, 0);
    margin-top: -16px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.navBar:hover
{
    background-color: aliceblue;
}

.navBar ul li
{
    text-align: center;
    display: inline;
    padding: 45px;
}

.navBar a
{
    list-style-type: none;
    color: rgb(42, 161, 165);
    font-weight: bold;
    font-style: none;
}