body
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(57, 57, 57);
    height: 100vh;
}

.form
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 40, 40);
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-sizing: content-box;
    box-shadow: 0px 0px 20px rgb(93, 93, 93);
    padding: 10px;
}

.form ul input 
{
    margin-right: 25px;
    border-radius: 4px;
    box-sizing: content-box;
    box-shadow: 0px 0px 20px rgb(93, 93, 93);
}

.form button
{
    margin-right: 25px;
    border-radius: 4px;
    box-sizing: content-box;
    box-shadow: 0px 0px 20px rgb(93, 93, 93);
}

.form button:hover
{
    background-color: bisque;
}