body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: beige; 
    height: 100vh;
}

.butn
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200px;
    height: 50px;
    background-color: rgb(163, 76, 76);
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    font-size: 18px;
}

